

*{
    box-sizing: inherit;
}
div{
    margin-top: 0;
    display: block;
}
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    font-size: medium;
    margin-inline-end: 0px;
    margin-top: 0;
}
a {
    margin-top: 0;
    background-color: transparent;
    transition: 200ms;
    color: #e4ba16;
}
section{
    margin-top: 0;
    display: block;
}
img{
    margin-top: 0;
    border-style: none;
    height: 50px;
}
nav{
    margin-top: 0;
    display: block;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
li{
    margin: 0;
    padding:0;
}
script {
    display: none;
}
main {
    display: block;
}
article{
    display: block;
    margin-top: 0;
}
span{
    margin-top: 0;
}
body {
    font-family: "Open Sans",Sans-Serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 2;
    text-rendering: optimizeLegibility;
    text-shadow: 0 0 1px transparent;
 
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #4a4a4a;
    overflow-x: hidden;
}
#skip-link a {
    position: absolute;
    top: auto;
    left: -9999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: -9999;
}
.header{
    z-index: 30;
    display: block;
}
[data-menu-style="floating"] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
}
.home-landing-page .header.fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    
}
.home-landing-page .header {
    border-bottom: 1px solid rgba(255,255,255,0.5);
}
.header__container {
    max-width: 992px;
    position: relative;
    max-height: 100%;
    padding-left: 15rem;
 
}
.header__wrapper{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 0;
}
.header__logo {
    margin-top: 15px;
    padding-right: 1rem;
    line-height: 1;
}
.header__logo a {
    display: inline-block;
    text-decoration: none;
}
header.header .header__logo___2909e img {
    max-height: none;
    width: 8rem;
    height: auto;
}
.header__logo img {
    width: auto;
    max-width: initial;
    max-height: 35px;
}
.img-responsive {
    display: block;
    height: auto;
    padding-left: 10rem;
}
.header__nav {
    width: 100%;
}
.header__nav > ul {
    text-align: right;
}
.header__nav>ul>li:first-child {
    margin-left: 0;
}
.header__nav-item {
    margin-left: 25px;
}
.header__nav-item {
    display: inline-block;
}
[data-menu-style="floating"] .header__nav-item > a {
    color: #4a4a4a;
}
.header__nav-item > a {
    color: #4a4a4a;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
}
.header__nav-item {
    margin-left: 25px;
    display: inline-block;
}
.header__mobile-button {
    display: none;
    position: relative;
    width: 24px;
    height: 24px;
}
.header__mobile-button__toggle-icon {
 
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 0;
    text-indent: -9999px;
    cursor: pointer;
    overflow: hidden;
    -webkit-appearance: none;
    
}
[data-menu-style="floating"] .header__mobile-button__toggle-icon span {
    background-color: #4a4a4a;
    transition: background 250ms ease;
    display: block;
    position: absolute;
    top: 10.5px;
    right: 0;
    left: 0;
    height: 3px;
}
[data-menu-style="floating"] .header__mobile-button__label {
    color: #4a4a4a;
    transform: translatex(-50%);
    display: block;
    position: absolute;
    left: 50%;
    width: max-content;
    margin-top: 2px;
    color: #4a4a4a;
    font-size: 0.6rem;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}
.banner{
    background: linear-gradient(rgba(0,0,0,0.27), rgba(0,0,0,0.27)),url(https://s3.amazonaws.com/thinkific-import/116598/an6Kh7BRoC0TTcIt5AzD_sunset.jpg);
        position: relative;
        background-size: cover;
        display: flex;
        align-items: center;
}
.banner-container{
    padding-top: 4rem;
    padding-bottom: 4rem;
    
    position: relative;
    width: 100%;
    max-height: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
}
.banner-wrap{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-right: -1rem;
    margin-left: -1rem;
    padding-right: 0;   
    padding-left: 0;
    position: relative;
}
.article{
    text-align: center;
    position: relative;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    flex: 0 0 66.67;
    max-width: 66.67;
}
.banner .header{
    margin: 0;
    display: flex;
    flex-direction: column;
}
.heading{
    font-size: 4rem;
    text-align: center;
    color: #fff;
}
.section-body{
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
    position: relative;
    margin-top: 1rem;
}
.banner .header .section-body:before{
    transform: translateX(-50%);
    left: 50%;
    background: #fff;
    display: block;
    position: relative;
    top: 0;
    margin-bottom: 1rem;
    content: "";
}
.text-image{
    background-color: #fff;
    margin-top: 0;
}
.section-height .container{
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.container{
    position: relative;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}
.text-image .content{
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    margin-right: -1rem;
    margin-left: -1rem;
}
.course-description{
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 8rem;
    flex: 0 0 50%;
    max-width: 50%;
}
.course-heading{
    display: flex;
    flex-direction: column;
    margin: 0 0 2rem;
}
.course-subheading{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    line-height: 1.5;
    margin-top: 0;
}
.describe-course{
    text-align: justify;
}
.button{
    padding-top: 3rem;
}
.button-primary{
    border: 15px solid #e4ba16;
    background-color: #e4ba16;
    color: #fff;
}
.course-image{
    padding-right: 1rem;
    padding-left: 1rem;
    display: flex; 
    margin-left: 8rem;
}
.course-image img{
    width:76%;
    height: auto;
    align-self: center;
}   

.text-image{
    background-color: #fff;
    margin-top: 0;
}
.section-height .container{
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.container{
    position: relative;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}
.text-image .content{
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    margin-right: -1rem;
    margin-left: -1rem;
}
.text-image .course-description1{
    padding-right: 5rem;
}
.course-description1{
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 30rem;
    flex: 0 0 50%;
    max-width: 50%;
    order: 2;
}
.course-heading1{
    display: flex;
    flex-direction: column;
    margin: 0 0 2rem;
}
.course-subheading1{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    line-height: 1.5;
    margin-top: 0;
}
.describe-course1{
    text-align: justify;
}
.button1{
    padding-top: 3rem;
}
.button-primary{
    border: 15px solid #e4ba16;
    background-color: #e4ba16;
    color: #fff;
}
.course-image1{
    padding-right: 1rem;
    padding-left: 1rem;
    display: flex; 
    margin-left: 8rem;
}
.course-image1 img{
    width:76%;
    height: auto;
    align-self: center;
}   

.call-to-action {
    background: linear-gradient(rgba(0,0,0,0.78), rgba(0,0,0,0.78)),url(https://s3.amazonaws.com/thinkific-import/116598/y3LrcqQOT56etOaVep7H_calendar.jpg);
    position: relative;
    background-size: cover;
}
.call-to-action .call-to-container{
    padding-top: 7.5rem;
    padding-bottom: 7.5rem; 
}
.call-to-container{
    position: relative;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
}
.call-to-wrapper{
    justify-content: center;
    display: flex;
    margin-right: -1rem;
    margin-left: -1rem;
}
.call-to-action .content-section{
    text-align: center;
    position: relative;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
}
.section-heading{
    display: flex;
    flex-direction: column;
}
.call-to-action .section-headings{
    text-align: center;
    color: #fff;
    font-size: 2.2rem;
}
.call-to-action .section-subheading{
    text-align: center;
    color: #fff;
    position: relative;
    margin-top: 1rem;
    font-size: 1.6rem;
}

.home-landing-page .footer {
    border-top: 0;
}
.footer {
    margin-top: auto;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    background-color: #fff;
    color: #4a4a4a;
}
.footer .section__content{
    display: flex;
    flex-wrap: wrap;
  
}
.footer__nav-site li{
    margin-right: 2rem;
    display: inline-block;
}
.footer__nav-site a{
    display: inline-block;
    color: #4a4a4a;
    font-size: 0.875rem;
    font-weight: 600;
    text-decoration: none;
}
.footer__copyright{
    text-align: left;
    color: #4a4a4a;
    font-size: 0.875rem;
    opacity: 0.8;
    position: relative;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    flex: 0 0 50%;
    max-width: 50%;
}
.footer .section__divide {
    background-color: #4a4a4a;
}
.section__divide {
    display: block;
    width: 100%;
    height: 1px;
    margin: 1.5rem 1rem 1.25rem;
    background-color: #4a4a4a;
    opacity: 0.2;
}
.footer__white-label {
    text-align: right;
}
.footer__white-label {
    margin-right: 0;
    margin-left: auto;
}
.footer__copyright, .footer__white-label {
    color: #4a4a4a;
    font-size: 0.875rem;
    opacity: 0.8;
}
.footer__white-label a {
    color: #4a4a4a;
    text-decoration: none;
    padding-right: 20px;
}
.footer__nav-site{
    padding-left: 1rem;
}
.icon-design{
    align-items: right;
    text-align: right;
    color: #4a4a4a;
    
}
.course{
    text-align: center;
    font-size: 30px;
}
.image{
    width: 76%;
    height: auto;
    align-self: center;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 6px;
    background-color: #5cb85c;
    color: white;
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
    padding: 2px 6px;
    background-color: #5cb85c;
    color: white;
  }