*{
    box-sizing: inherit;
}
div{
    margin-top: 0;
}
body {
    font-family: "Open Sans",Sans-Serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 2;
    text-shadow: 0 0 1px transparent;
    -webkit-box-direction: normal;
}
aside{
    margin-top: 0;
}
i{
    margin-top: 0;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
li{
    margin: 0;
    padding:0;
}
p{
    margin-top: 0;
}
article{
    display: block;
}
span{
    margin-top: 0;
}
a {
    -webkit-transition: 200ms;
    transition: all 200ms;
    color: #e4ba16;
    margin-top: 0;
}
main{
    display: block;
}
.header{
    z-index: 301;
    display: block;
}
[data-menu-style="floating"] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
}
.home-landing-page .header.fixed {
   
    transition: background-color 400ms ease,box-shadow 200ms ease;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
   
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.05);
}
.home-landing-page .header {
    border-bottom: 1px solid rgba(255,255,255,0.5);
}
.header__container {
    max-width: 768px;
}
.header__container {
    position: relative;
    width: 100%;
    max-height: 100%;
    margin: 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
    padding: 1rem;
}
.header__wrapper{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 0;
}
.header__logo {
    padding-right: 1rem;
    line-height: 1;
}
.header__logo a {
    display: inline-block;
    text-decoration: none;
}
header.header .header__logo___2909e img {
    max-height: none;
    width: 8rem;
    height: auto;
}
.header__logo img {
    width: auto;
    max-width: initial;
    max-height: 35px;
}
.img-responsive {
    display: block;
    width: 100%;
    height: auto;
}
.header__nav {
    width: 100%;
}
.header__nav > ul {
    text-align: right;
}
.header__nav>ul>li:first-child {
    margin-left: 0;
}
.header__nav-item {
    margin-left: 25px;
}
.header__nav-item {
    display: inline-block;
}
[data-menu-style="floating"] .header__nav-item > a {
    color: #4a4a4a;
}
.header__nav-item > a {
    color: #4a4a4a;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
}
.header__nav-item {
    margin-left: 25px;
    display: inline-block;
}
.header__mobile-button {
    display: none;
    position: relative;
    width: 24px;
    height: 24px;
}
.header__mobile-button__toggle-icon {
 
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.sign-in{
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.sign-in__container{
    max-width: 100%;
    position: relative;
    width: 100%;
    max-height: 100%;
    margin: 0;
    padding-right: 1rem;
    padding-left: 1rem;
}
.sign-in__wrapper{
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
}
.sign-in__form{
    position: relative;
    width: 100%;
    flex: 0 0 50%;
    max-width: 50%;
}
.sign-in .page__heading{
    margin-bottom: 2rem;
    text-align: center;
}
h1[class*="__heading"]{
    font-size: 3rem;
    line-height: 1.2;
}
h4{
    font-size: 1.7rem;
    margin: 0 0 1rem;
    line-height: 1.5;
    margin-top: 0;
}
.sign-in__form form{
    margin-bottom: 3rem;
}
form{
    color: #4a4a4a;
    margin-top: 0;
}
label{
    margin-top: 0;
}
input{
    font-family: "Open Sans",sans-serif;
    color: #4a4a4a;
    overflow: visible;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
.form__group{
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    margin: 0 0 1rem;
}
.form__group label:only-of-type{
    width: 100%;
    margin-right: 0;
    margin-bottom: 0;
}
.form__group label{
    margin-right: 1rem;
}
.form__label{
    flex-grow: 1;
    color: #4a4a4a;
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 2;
}
.form__label:last-child{
    margin-right: 0;
}
.form__label input{
    display: block;
}
input[type="email"]{
    border-radius: 0;
    -webkit-border-radius: 0;
    -webkit-appearance: none;
}
.form__control{
    width: 100%;
    padding: 1rem;
    border: 2px solid transparent;
    background-color: #fff;
    font-size: 1rem;
    line-height: normal;
}
.form__remember-me{
    font-size: 0.75rem;
    line-height: 2;
}
.form__label input[type="checkbox"] {
    display: inline-block;
    width: auto;
    margin-right: 5px;
    font-size: 1rem;
}
input[type="checkbox"] {
    display: inline-block;
    width: auto;
    margin-right: 0.5rem;
}
.form__forgot-password{
    margin-right: 0;
    margin-left: auto;
    text-align: right;
    font-size: 0.75rem;
    line-height: 2;
}
.button-primary {
    border: 2px solid #e4ba16;
    background-color: #e4ba16;
    margin-left: 590px;
    color: #fff;
}
.button{
    transition: 200ms;
    display: inline-block;
    padding: 0.8rem 1rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
.remote-sign-in__vendor-logins {
    position: relative;
    margin-bottom: 2rem;
    text-align: center;
}
.remote-sign-in__divider{
    display: block;
    position: relative;
    width: 100%;
    margin-top: 2rem;
    font-size: 1.333em;
    text-align: center;
    text-transform: lowercase;
    opacity: 0.5;
}
.remote-sign-in__divider:before{
    transform: translateX(-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 1px;
    border-top: 1px solid #4a4a4a;
    content: " ";
    opacity: 0.8;
    z-index: 0;
}
.remote-sign-in__divider span{
    display: inline-block;
    position: relative;
    padding: 0 1rem;
    background-color: #fff;
    z-index: 1;
}
.sign-in .remote-sign-up__divider{
    display: none;
}
.remote-sign-up__divider {
    display: block;
    position: relative;
    width: 100%;
    margin-top: 2rem;
    font-size: 1.333em;
    text-align: center;
    text-transform: lowercase;
    opacity: 0.5;
}
.remote-sign-up__divider span {
    display: inline-block;
    position: relative;
    padding: 0 1rem;
    background-color: #fff;
    z-index: 1;
}
.remote-sign-in__vendor-list {
    margin-bottom: 2rem;
    list-style: none;
    text-align: center;
}
.remote-sign-in__vendor-list-item {
    display: inline-block;
    margin: 0 0.5rem;
}
ol, ul, li {
    margin: 0;
    padding: 0;
}
.remote-sign-in__vendor-list-item a.linkedin {
    background-color: #007bb5;
}
.remote-sign-in__vendor-list-item a {
    display: inline-block;
    position: relative;
    width: 3.5rem;
    height: 3.5rem;
    padding: 0;
    border-radius: 50%;
    color: #fff;
    font-size: 1.6rem;
}
.remote-sign-in__vendor-list-item a .fa {
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    position: absolute;
    top: 50%;
    left: 50%;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.fa-linkedin:before {
    content: "\f0e1";
}
.remote-sign-in__vendor-list-item a.facebook {
    background-color: #3b5998;
}
.fa-facebook:before {
    content: "\f09a";
}
.remote-sign-in__vendor-list-item a.google-plus {
    background-color: #db4437;
}
.fa-google-plus:before {
    content: "\f0d5";
}
.sign-in__sign-up{
    position: relative;
    width: 100%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
    text-align: center;
}
.sign-in__sign-up a{
    color: #4a4a4a;
    font-size: x0.875rem;
}
.home-landing-page .footer {
    border-top: 0;
}
.footer {
    margin-top: auto;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    background-color: #fff;
    color: #4a4a4a;
}
.footer .section__content{
    display: flex;
    flex-wrap: wrap;
  
}

.footer__nav-site{
    
    padding-left: 1rem;
}
.footer__nav-site li{
    margin-right: 2rem;
    display: inline-block;
}
.footer__nav-site a{
    display: inline-block;
    color: #4a4a4a;
    font-size: 0.875rem;
    font-weight: 600;
    text-decoration: none;
}
.footer__copyright{
    color: #4a4a4a;
    font-size: 0.875rem;
    opacity: 0.8;
    position: relative;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    flex: 0 0 50%;
    max-width: 50%;
}
.footer .section__divide {
    background-color: #4a4a4a;
}
.section__divide {
    display: block;
    width: 100%;
    height: 1px;
    margin: 1.5rem 1rem 1.25rem;
    background-color: #4a4a4a;
    opacity: 0.2;
}
.footer__white-label {
    text-align: right;
}
.footer__white-label {
    margin-right: 0;
    margin-left: auto;
}
.footer__copyright, .footer__white-label {
    color: #4a4a4a;
    font-size: 0.875rem;
    opacity: 0.8;
}
.footer__white-label a {
    color: #4a4a4a;
    text-decoration: none;
    padding-right: 20px;
}